.formUsuarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.formUsuarios input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.formUsuarios button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f1f1f1;
}