section h1{
    color: violet;
}

#Navegacion{
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navNavegacion a{
    text-decoration: none;
    color: #000;
    font: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Cards{
    display:flex;
    justify-content: center;
}

.Cards div{
    margin: 10px;
}

.Cards img{
    width: 200px;
    height: 200px;
}

