header{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

div{
    background-color: aqua;
    width: 500px;
    height: 500px;
    border-radius: 40px;
}

div h1{
    color: red;
}

.parrafos{
    color: blue;
}

.correcion{
    text-wrap: balance;
}


