*{
    margin:0;
    box-sizing: border-box;
}
.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #2c2b2b;
}

.icono{
    margin: 5px;
}

nav{
    width: auto;
    margin: 20px
}

a{
    text-decoration: none;
}

.section-1{
    margin-left: 30px;
    width: 800px;
    text-align: center;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-1 p{
 text-wrap: balance;   
}
