*{
    margin:0;
    box-sizing: border-box;
}
.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #2c2b2b;
}

.icono{
    margin: 5px;
}

nav{
    width: auto;
    margin: 20px
}

a{
    text-decoration: none;
}

